/* Defaults */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: #e5e5e5;
    line-height: 24px;
    color: #495057;
    font-weight: 400;
    font-size: 16px;
}

/* Grid */
.container {
    display: grid;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 0 0 auto;
    padding: 0.75rem 1.5rem;
}

.break {
    display: block;
}

/* Display */
.hide {
    display: none !important;
    visibility: hidden;
    opacity: 0;
}

.show {
    visibility: visible;
    opacity: 1;
}

/* Images */
.img-responsive {
    width: calc(100% - 10px);
}

/* Align */
.flex-center {
    display: flex;
    align-items: center;
}

.x-center {
    margin: 0 auto;
}

.y-center {
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

/* Fonts */
.bold {
    font-weight: 700;
}

/* Buttons */
.btn {
    width: 100%;
    height: 67px;
    border: none;
    font-size: 16px;
    border-radius: 24px;
    cursor: pointer;
    margin: 5px;
}

.btn-lg {
    height: 105px;
}

.dark {
    background: #0a3871;
    color: #fff;
    transition: 1000ms;
}
.dark:hover {
    background: #0d488f;
}

.light {
    border: 1px solid #0a3871;
    background: #d8dfe8;
    color: #0a3871;
    transition: 1000ms;
}
.light:hover {
    background: transparent;
}
