/* Imports */
@import "inter.css";
@import "base.css";

/* Header */
.logo {
    margin: 40px 0 0 85px;
    padding: 0;
}

/* Main Menu */
#pageMainMenu {
    height: calc(100vh - 18vh);
}

/* Add Word */
#pageAddWord .row {
    height: 82vh;
}

#pageAddWord .col {
    text-align: center;
}

#pageAddWord .col:first-child {
    width: 75%;
}

#pageAddWord .col:last-child {
    width: 25%;
}

#pageAddWord label {
    padding: 0 0 15rem;
    display: block;
}

/* #pageAddWord #addWordInput {
    margin: 0 0 15rem;
} */

#pageAddWord .btns {
    margin: 0 auto;
    display: block;
    width: 50%;
}

#pageAddWord #pageNotFound .info,
#pageAddWord #pageWordFound .info {
    padding: 1.5rem 0;
}

#pageAddWord #pageWordFound .info h1 {
    padding-bottom: 0.5rem;
}

#pageAddWord #pageWordFound #displayWords span {
    display: inline-block;
    background: #f3f3f3;
    padding: 2px 5px;
    margin: 5px 0;
}

#pageAddWord #pageWordFound #displayWords span img {
    cursor: pointer;
    width: 16px;
    position: relative;
    top: 3px;
    left: -2px;
}

/* Start Game */
#pageNewGame .col {
    width: 100%;
}

#pageNewGame .canvas {
    margin: 2.5rem 0;
}

#pageNewGame .canvas picture {
    position: relative;
}

#pageNewGame .canvas .fail {
    filter: invert(23%) sepia(94%) saturate(6841%) hue-rotate(357deg) brightness(99%) contrast(115%);
}

#pageNewGame .canvas img:nth-child(1) {
    position: absolute;
    left: 14.95rem;
    top: -6.9rem;
}
#pageNewGame .canvas img:nth-child(2) {
    position: absolute;
    left: 12.78rem;
    top: -6.89rem;
}
#pageNewGame .canvas img:nth-child(3) {
    position: absolute;
    left: 14.9rem;
    top: -14.8rem;
}
#pageNewGame .canvas img:nth-child(4) {
    position: absolute;
    left: 12.8rem;
    top: -14.8rem;
}
#pageNewGame .canvas img:nth-child(5) {
    position: absolute;
    left: 14.9rem;
    top: -15rem;
}
#pageNewGame .canvas img:nth-child(6) {
    position: absolute;
    left: 13rem;
    top: -18.7rem;
    z-index: 1;
}
#pageNewGame .canvas img:nth-child(7) {
    position: absolute;
    left: 14.9rem;
}
#pageNewGame .canvas img:nth-child(8) {
    position: absolute;
    left: 4rem;
}
#pageNewGame .canvas img:nth-child(9) {
    position: relative;
    left: 4rem;
}

#pageNewGame input {
    border: none;
    border-bottom: 4px solid #0a3871;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    background: transparent;
    padding-bottom: 0.5rem;
    text-align: center;
    line-height: 48px;
    color: #0a3871;
    margin-left: 5px;
    font-size: 32px;
    width: 50px;
}
#pageNewGame input:focus {
    box-shadow: 0 0 0 0;
    outline: none;
}

#pageNewGame #wrong-letters {
    margin: 0.5rem 0 1.5rem;
}

#pageNewGame #wrong-letters span {
    text-transform: uppercase;
}

#pageNewGame .btns {
    margin: 0 auto 1.5rem;
    width: 40%;
}

/* Footer */
footer .footer {
    position: relative;
    background: #d8dfe8;
    /* border-top: 1px solid #0a387112; */
    box-shadow: 0 -2px 5px rgb(0 0 0 / 2%);
    background-image: linear-gradient(to right, #e5e5e5, #d8dfe8, #d8dfe8, #d8dfe8, #d8dfe8, #e5e5e5);
    width: 100%;
    padding: 10px 0;
    bottom: 0;
}

footer .footer p,
footer .footer a,
footer .footer a:visited,
footer .footer a:active {
    color: #0a3871;
    text-decoration: none;
    /* transition: all 1s ease; */
}

footer .footer a:hover {
    color: #5b7ca5;
}

footer .footer a {
    font-weight: 600;
}

footer .footer-info {
    margin: 0 auto;
    text-align: center;
}

footer .footer-info ul li {
    display: inline-block;
}
