/* Imports */
@import "inter.css";
@import "base.css";

/* Header */
.logo {
    margin: 40px 0 0 85px;
    padding: 0;
}

/* Footer */
footer .footer {
    position: relative;
    background: #d8dfe8;
    border-top: 2px solid #0a387112;
    /* background-image: linear-gradient(to right, #e5e5e5, #d8dfe8, #d8dfe8, #d8dfe8, #d8dfe8, #e5e5e5); */
    width: 100%;
    padding: 10px 0;
    top: 5rem;
}

footer .footer p,
footer .footer a,
footer .footer a:visited,
footer .footer a:active {
    color: #0a3871;
    text-decoration: none;
    transition: all 1s ease;
}

footer .footer a:hover {
    color: #5b7ca5;
}

footer .footer a {
    font-weight: 600;
}

footer .footer-info {
    margin: 0 auto;
    text-align: center;
}

footer .footer-info ul li {
    display: inline-block;
}
